$color-dull: #F7DE9B;
$color-main: #F8CE74;
$color-shadow: #C3954D;

@mixin button {
    border-radius: 1em;
    background: $color-main;
    border-style: solid;
    border-width: 2px;
    border-color: $color-shadow; 
}

/* Add to the :after of a div if it should itself clear its contents */
@mixin clearfix {
    clear: both;
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

html {
    background: $color-dull;
}

body {
    background: $color-main;
    color: #4b3382;
    font-size: 15pt;
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    width: 40em;
    border-radius: 1em;
    margin: 4em auto 2em auto;
    padding: 0em 3em 2em 3em;
    box-shadow: 0.3em 0.3em 0.3em $color-shadow;
}

.top h1 {
    float: left;
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
    color: #4b3382;
    margin: -1.4em 0 1em 0;

   .bigletter {
       color: #695794;
       font-size: 1.4em;
       margin-right: -0.05em;
   }
}

.area_number {
    float: left;
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    color: #695794;
    margin-right: 0.25em;
}

.area_title {
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}


@mixin boxed_area {
    width: 15em;
    background: $color-dull;
    border-style: solid;
    border-width: 1px;
    border-color: #9f843b;
    border-radius: 0.5em;
    box-shadow: 1px 1px 0.5em #c3954d;
    border-width: 1px;
    padding: 0.5em 1em 0.5em 0.5em;
    margin: 0.5em 0 2em 1em;
    float: right;
}

/* INPUT AREA */
.input_area {
    float: left;
    width: 22em;
    margin: 0px 0px 1.5em;

    textarea {
        width: 100%;   
        height: 56em;
        resize: none;
    }

}

/* OPTION AREA */
.option_area {
    @include boxed_area;
    margin-top: 1.6em;
    
    float: right;

    .option_choice {
        float: left;
    }
    
    .option_desc {
        float: left;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 0.7em;

        li {
            clear: both;
            padding: 0.4em 0;
    
            .selection {
                display: block;
                margin-top: 0.4em;

                .input_text {
                    float: right;
                }

                .option_radio, .option_checkbox {
                    float: left;
                    margin-left: 0em;
                }

                .margin_box {
                    width: 9em;
                    margin-left: auto;
                    margin-right: auto;
                    #margin_top {
                        float: left;
                        margin-left: 3.6em;
                    }
                    #margin_left {
                        float: left;
                        clear: both;
                    }
                    #margin_right {
                        float: right;
                    }
                    #margin_bot {
                        float: left;
                        margin-left: 3.6em;
                        clear: both;
                    }
                }
            }
            .selection:after {
                @include clearfix;
            }
        }
    }

}

/* SUBMIT AREA */
.submit_area {
    @include boxed_area;
    float: right;

    input {
        @include button;
        padding: 1em 3em 1em;
        font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
        font-size: 1.1em;
        font-weight: bold;
        font-style: italic;
        margin-left: 2.5em;
    }
}

.question_area {
    @include boxed_area;
    margin-top: 3em;

    .question_box {
        margin: 1em;
        a {
            @include button;
            border-radius: 3px;
            padding: 0.4em 0.7em;
            cursor: pointer;
            text-size: 0.7em;
        }
        span {
            margin: 0.5em;
        }
    }
}

div.about {
    clear: both;
    border-style: solid;
    border-width: 1px;
    border-color: #9f843b;
    border-radius: 0.5em;
    padding: 0.5em 2em;
    margin: 0.5em 1em 0.5em;
    font-size: 0.8em;
    
    p {
        margin: 2px 1px 1px;

        span {
            margin: 1em;
        }
    }
    
    .signature {
        font-weight: bold;
        margin-top: 1em;
    }
    
    .contact {
        font-style: italic;
        font-weight: normal;
    }

}

/* ERRORS */
.err {
    padding: 0.25em 0.5em 0.25em;
    border: 1px solid black;
    border-radius: 0.5em;
    background: #ff5e5e;
    margin-bottom: 2em;
    clear: both;
}

.warning {
    padding: 0.25em;
    border: 1px solid black;
    border-radius: 0.5em;
    background: #FF9900;
}

.err_title {
    font-weight: bold;
}

.err_msg {
    font-weight: none;
    font-size: 0.6em;
    margin-left: 1em;
}
